In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

customer_feedback=pd.read_csv("/content/Customer_Feedback_Data.csv")
product_offering=pd.read_csv("/content/Product_Offering_Data.csv")
transaction=pd.read_csv("/content/Transaction_Data.csv")

# Display Data
print("Customer Feedback Data")
display(customer_feedback.head())

print("\nProduct Offering Data")
display(product_offering.head())

print("\nTransaction Data")
display(transaction.head())

Customer Feedback Data

   Customer_ID  Satisfaction_Score  Feedback_Comments  Likelihood_to_Recommend
0            1                10.0     Very satisfied                        9
1            2                 3.0     Very satisfied                        3
2            3                10.0     Very satisfied                        1
3            4                 7.0  Needs improvement                        4
4            5                 8.0     Unsatisfactory                        7

Product Offering Data

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium

Transaction Data

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Transaction_Type
0,1,393,2023-01-01 00:00:00,3472.0,Purchase
1,2,826,2023-01-01 01:00:00,NaN,Bill Payment
2,3,916,2023-01-01 02:00:00,10.0,Purchase
3,4,109,2023-01-01 03:00:00,72.0,Investment
4,5,889,2023-01-01 04:00:00,1793.0,Investment

In [ ]:
# Display missing value count

print("customers:", customer_feedback.shape)
print("Missing value count in Customer Feedback Data")
display(customer_feedback.isnull().sum())

print("products: .", product_offering.shape)
print("\nMissing value count in Product Offering Data")
display(product_offering.isnull().sum())

print("transactions:", transaction.shape)
print("\nMissing value count in Transaction Data")
display(transaction.isnull().sum())

customers: (5050, 4)
Missing value count in Customer Feedback Data

Customer_ID                  0
Satisfaction_Score         101
Feedback_Comments            0
Likelihood_to_Recommend      0
dtype: int64

products: . (15, 6)

Missing value count in Product Offering Data

Product_ID              0
Product_Name            0
Product_Type            0
Risk_Level              0
Target_Age_Group       15
Target_Income_Group     0
dtype: int64

transactions: (5050, 5)

Missing value count in Transaction Data

Transaction_ID          0
Customer_ID             0
Transaction_Date        0
Transaction_Amount    100
Transaction_Type        0
dtype: int64

In [ ]:
# Drop Target Age Group Column
product_offering.drop("Target_Age_Group", axis=1, inplace=True)

display(product_offering.head())

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,Medium
1,2,Gold Savings Account,Savings Account,Low,Low
2,3,High-Yield Investment Account,Investment,High,High
3,4,Mortgage Loan,Loan,Medium,High
4,5,Auto Loan,Loan,Medium,Medium

In [ ]:
# Determining the mean / median for the Satisfaction Scores
mean_score = customer_feedback["Satisfaction_Score"].mean()
median_score = customer_feedback["Satisfaction_Score"].median()

print("Mean:", mean_score)
print("Median:", median_score)

# Imputing missing satisfaction scores
customer_feedback["Satisfaction_Score"] = customer_feedback["Satisfaction_Score"].fillna(median_score)
display(customer_feedback.head())

# Verify imputation
print("\nMissing value count in Customer Feedback Data")
display(customer_feedback.isnull().sum())

Mean: 5.691089108910891
Median: 6.0

   Customer_ID  Satisfaction_Score  Feedback_Comments  Likelihood_to_Recommend
0            1                10.0     Very satisfied                        9
1            2                 3.0     Very satisfied                        3
2            3                10.0     Very satisfied                        1
3            4                 7.0  Needs improvement                        4
4            5                 8.0     Unsatisfactory                        7

Missing value count in Customer Feedback Data

Customer_ID                0
Satisfaction_Score         0
Feedback_Comments          0
Likelihood_to_Recommend    0
dtype: int64